<h1 class="title is-3 is-4-mobile"><%-page.title%></h1>
<div class="info">
    <span class="line">
        Tag:
        <% page.tag.trim().split(" ").forEach(function (tag) {if (tag !== "") {%>
            <a class="tag is-light" href='/tag/<%= tag %>'><%= tag %></a>
        <% }}); %>
    </span>
    <span class="line">Posted on <span class="tag is-light"><%-page.post_time%></span></span>
    <span class="line">Edited on <span class="tag is-light"><%-page.edit_time%></span></span>
    <span class="line">Views: <span class="tag is-light"><%-page.view%></span></span>
</div>